services:
  api:
    build: .
    ports:
      - "8999:3000"
    environment:
      - MONGO_URI=mongodb://gateway_user:gateway_password_2025@192.168.1.42:27019/meetvoice_gateway?authSource=admin
      - DATABASE_URL=postgres://meetvoice_api_user:meetvoice_api_password@192.168.1.42:5432/meetvoice_api
      - RUST_LOG=info
    networks:
      - messagerie-net

networks:
  messagerie-net:
    driver: bridge

